#hero {
    background-image: url('../../assets/images/hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 17.35rem;
    opacity: 0;

    animation: showContent 2s ease forwards;

    & .hero-content {
        width: 100%;
        max-width: 41rem;
        margin-inline: auto;
        text-align: center;

        & h1 {
            opacity: .5;
            margin-bottom: 2rem;
            animation: showContent 1s .5s ease forwards;
        }

        & p {
            opacity: 0;
            animation: showContent 1.5s .6s ease forwards;
        }
    }
}

@keyframes showContent {
    to {
        opacity: 1;
    }
}