:root {
    /* Pink */
    --pink-light: #c59dd2;
    --pink-base: #9547a5;
    --pink-dark: #7d298a;
    --pink-low: #3f0f41;

    /* Blue */
    --blue-light: #73b6d2;
    --blue-base: #358bb9;
    --blue-mid: #2374a4;
    --blue-dark: #144a72;
    --blue-low: #08233c;

    /* Text */
    --text-title: #f8fbfb;
    --text-body: #e2e7e9;
    --text-label: #bac6c9;

    /* Shape */
    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000f1f;
    --shap-background: #00050a;

    /* Font Family */
    --ff-raleway: "Raleway", sans-serif;
    --title-lg: 700 3rem/1.2 var(--ff-raleway);
    --title-md: 700 2.5rem/1 var(--ff-raleway);
    --title-sm: 700 2rem/1 var(--ff-raleway);
    --title-xs: 700 1rem/1 var(--ff-raleway);
    --subtitle: 500 2rem/2 var(--ff-raleway);
    --body-lg: 400 1.25rem/1.4 var(--ff-raleway);
    --body-md: 400 1rem/1.4 var(--ff-raleway);
    --body-sm: 400 .875rem/1.4 var(--ff-raleway);
    --body-xs: 400 .75rem/1.4 var(--ff-raleway);
    --button: 700 .875rem/1 var(--ff-raleway);
    --link: 500 .875rem/1 var(--ff-raleway);
    --tag: 700 .625rem/1 var(--ff-raleway);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--shap-background);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul[role="list"] {
    list-style: none;
}

.btn {
    font: var(--button);
    color: var(--text-title);
    padding-block: .75rem;
    padding-inline: 3.843rem;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: var(--blue-dark);

    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        inset: 0;
        transform: scale(.22, .5);
        transition: transform .4s ease-out, opacity .4s ease-out;
        opacity: 0;
    }

    &.normal-btn {
        &::before {
            background-color: var(--blue-light);
        }
    }

    &.popular-btn {
        background-color: var(--pink-dark);

        &::before {
            background-color: var(--pink-light);
        }
    }

    &:hover::before {
        transform: scale(1.35, 3);
        opacity: .3;
    }
}

@media screen and (max-width: 48rem) {
    :root {
        --title-lg: 700 1.75rem/1 var(--ff-raleway);
        --body-lg: 400 .875rem/1.4 var(--ff-raleway);
    }
}
